.gallery{
    column-count: 3;
    column-width: 33%;
    padding: 0 12px;
}

.gallery .pics{
    transition: all 350ms ease;
    cursor: pointer;
    margin-bottom: 8px;
}
.gallery .pics:hover{
    opacity: 0.8;
}
@media (max-width: 990px){
    .gallery{
        column-count: 2;
    }
}

@media (max-width: 440px){
    .gallery{
        column-count: 1;
        width: 100%;
    }
}
